.container {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .form {
    width: 500px;
    height: 500px;
    padding: 30px;
    background: #363636;
    box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 560px) {
      width: auto;
    }
    .formGroup {
      position: relative;
      margin-bottom: 20px;
      width: 100%;

      .label {
        position: absolute;
        left: 0;
        top: 0;
        color: #999;
        font-size: 18px;
        font-weight: normal;
        transition: all 0.2s ease;
        pointer-events: none;
      }

      .input {
        width: 100%;
        border: none;
        border-bottom: 0.0625rem solid #ccc;
        font-size: 20px;
        padding: 25px 0 0 0;

        &:focus,
        &:valid {
          outline: none;
          border-color: #2ecc71;
        }

        &:focus + .label,
        &:valid + .label {
          top: -1.25rem;
          font-size: 0.875rem;
          color: #2ecc71;
        }
      }

      .error {
        color: red;
        margin-top: 5px;
      }
    }
    .button {
      display: inline-block;
      padding: 0.625rem 1.25rem;
      background-color: #2ecc71;
      color: #fff;
      font-size: 1.25rem;
      border: none;
      border-radius: 0.25rem;
      transition: all 0.2s ease;

      &:hover {
        background-color: #27ae60;
        cursor: pointer;
      }
    }
    .link {
      margin-top: 10px;
      font-size: 17px;
      .incitingText {
        font-weight: 600;
        cursor: pointer;
        color: rgb(34, 166, 255);
        transition: color 0.3s ease 0s;
        &:hover {
          color: rgb(12, 103, 221);
          text-decoration: underline;
        }
      }
    }
  }
}
