.single {
  .singleWrapper {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    .singleSlider {
      width: 50%;
      .singleSliderImg {
        margin-bottom: 5px;
        img {
          border-radius: 10px;
          cursor: pointer;
        }
      }
      .sliderNav {
        .sliderItem {
          margin-right: 5px;
          img {
            cursor: pointer;
          }
        }
      }
      .active {
        border: 5px solid #000;
      }
    }
    .singleDescription {
      margin-top: 10vh;
      .singleTitle {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .singleCol {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        .singleColTitle {
          font-size: 15px;
        }
        .singleColDesc {
          color: rgb(204, 204, 204);
        }
      }
      .singleP {
        margin-bottom: 10px;
      }
      .singlePrice {
        color: red;
        font-size: 25px;
        font-weight: 600;
      }
      .singleButtons {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
