.header {
  margin-bottom: 30px;
  .headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    padding: 20px 0;
    .logo > a {
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 1.5px;
    }
    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      .favorites,
      .cart {
        font-size: 26px;
      }
      .infoItem {
        position: relative;
        svg {
          width: 25px;
          height: 25px;
        }
        .infoItemCounter {
          position: absolute;
          bottom: 12px;
          font-size: 15px;
          right: -13px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
          width: 20px;
          padding: 2px;
          background: #ff891ab3;
        }
      }
    }
  }
  .headerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 20px;
      transition: all 0.3s ease 0s;
      &:hover {
        color: rgb(12, 235, 97);
      }
      > span {
        font-size: 27px;
      }
    }
  }
}
