.searchForm {
  display: flex;
  align-items: center;
  position: relative;
  .searchInput {
    width: 350px;
    height: 40px;
    padding: 5px 15px;
    font-size: 18px;
    border: 1px solid #777;
    border-radius: 5px;
    color: #000;
    background: #f8f8fa;
    transition: all 0.4s ease 0s;
    &:focus {
      width: 370px;
      outline: none;
      border: 1px solid rgb(12, 235, 97);
    }
  }
  .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    transform: translateX(-50%);
    right: 0;
    color: #000;
    cursor: pointer;
  }
}
